*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-size: 100%;
    background: linear-gradient(68.15deg, #791737  16.62%, #6e5a2fb4  85.61%)
}

.cabeçalho{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}


.cabeçalho-menu{
    display: flex;
    gap: 32px;

}
.cabeçalho-menu-item{
    font-family: Arial, Helvetica, sans-serif;
    color: antiquewhite;
    font-size: 20px;
    height: 40px;
    align-items: center;

}
.cabeçalho-menu-item-1{
    padding-right: 112px;
    color: antiquewhite;
    font-size: 50px;
}
.imagem-cabeçalho{
    height: 70px;
}
.barra-de-pesquisa{
    height:33px;
    width: 200px;
    background: none;
    border: 0px;
    outline: 0px;
    font-size: 17px;
}
.imagem-lupa{
    height: 30px;
    
}
.barra-de-pesquisa-principal{
background-color: white;
height: 50px;
border-radius: 40px;
padding:10px;
display:flex;
justify-content: space-between;
align-items: center;
}
/*imagem roupa*/
.imagem-kit{
    padding-left: 120px;
    height: 650px;
     margin-top: 40px;
      }
      .imagem-titulo{
        display: flex;
        flex-direction: row;
      }
      .imagem-titulo-escrita{
        display: flex;

      }
      
      .escrita-titulo{
        color: rgb(104, 42, 71);
        font-family: cursive;
        padding-left: 500px;
        background-color: aliceblue;
        border-radius: 40px;
         }
         .escrita{
            margin-bottom: 300px;
            font-size: 20px;
            padding-left: 100px;
            margin-top: 40px;
            color: antiquewhite
         }
         .valor-imagem{
            font-size: 40px;
            color: wheat;
            font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
         }
         .botão-roupa{
            background-color: #8E5D52;
    height:60px ;
    width: 170px;
    border: none;
    box-shadow: 4px 5px 4px black;
    border-radius: 20px;
    color: antiquewhite;
    font-size: 25px;
         } 
        
         




